# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.idea
log
tmp

# frontend building files
package-lock.json
node_modules
portal/web/wwwroot/build
portal/web/wwwroot/api
portal/web/wwwroot/assets/css/bundle.css
portal/web/Scripts/component/Common/DateRangePicker.Common_old.js.bak
portal/api/**/*.zip
portal/api/**/*.dat

# Binaries for macOS
portal/api/api

# macOS system cache files
.DS_Store